@mixin clearfix{

	&:after{
		content: "";
		display: table;
		clear: both;
	}

	//Why this @mixin clearfix is provided with :after pseudocode and not without after? - Refer :https://stackoverflow.com/questions/12871710/what-does-the-css-rule-clear-both-do
}