$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;  

$color-grey-light-1: #f7f7f7;


$color-card-1-light: #ffb900;
$color-card-1-dark: #ff7730;

$color-card-2-light: #2998ff;
$color-card-3-dark: #5643fa;