.story {
  margin: 0 auto;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.2);
  width: 80%;
  padding: 3rem 6rem;
  font-size: 1.2rem;

  transform: skewX(-12deg);
  &__shape {
    float: left;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    width: 15rem;
    height: 15rem;
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
  }

  &__img {
    height: 100%;
    opacity: 1;
    transform: translateX(-3.5rem);
  }

  &:hover &__img {
    // opacity: .2;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    transition: transform .3s;
    backface-visibility: hidden;
    transform: translateX(-3.5rem) scale(1.3);
  }

  &__text {
    transform: skewX(12deg);
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 1.7rem;
    opacity: 0;
    transition: all 0.5s;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
  }
}
